{extend name="Public/base"/>
{block name="title"}书本信息{/block}
{block name="link"}
<style>
    .bookable-condition tr td {
        border: none !important;
    }

    .list-group-item p:first-child{
        display: inline-block;
        width: 120px;
        font-weight: bold;
        font-family: "Microsoft YaHei";

    }

    .list-group-item div{
        width: 100%;
        border: 1px dashed #eee;

    }

</style>
{/block}
{block name="header"}{/block}
{block name="content"}
<section style="margin-top: -49px;">

    <div class="panel panel-default panel-success container-fluid" style="padding: 0">
        <!--具体信息面板开始-->
        <div class="panel-heading text-center h4">
            具体信息
        </div>
        <div class="panel-body">
            <div style="width: 100%;height: 80px;">
                <div style="width: 50px;height: 60px;margin: 10px 15px 10px 15px;display:inline-block">
                    <img src="/hometowm_book/public/static/image/nobook.jpg" style="width: 100%;height: 100%">
                </div>
                <div style="display: inline-block;height: 60px;width: 60%;margin: 10px;vertical-align: top">
                    <span style="font-weight: bold">题名/责任者：</span>{$data[0]['book_content']}
                </div>

            </div>

            <ul class="list-group"><!--js加载-->
                <li class="list-group-item list-group-item-info h4" style="font-weight: bold">书目信息</li>

                {volist name='data' id='d' offset='1'}
                <li class="list-group-item">
                    <p>{$d.book_head} </p>
                    <div></div>
                    <p class="h5">{$d.book_content}</p>
                </li>
                {/volist}
            </ul>




    </div>
</div>
    <!--具体信息面板结束-->


</section>
{/block}

