{extend name="Public/base"/}

{block name="title"}借阅历史{/block}

{block name="content"}
<section>

    <div class="panel panel-default panel-success">
        <div class="panel-heading text-center ">
            <h4 class="panel-title">借阅历史</h4>
        </div>

        <div class="panel-body" style="padding: 0!important;">
            {if condition="$con eq false"}
            <span class="text-info h4 center-block">你的借阅历史为空</span>
            {else/}
            <ul class="list-group">
                {volist name="data" id="data"}
                <li class="list-group-item">
                    <div style="width: 100%;">
                        <h4 class="li-book">{$i + ($page - 1) * 20}.{$data.bar_num}</h4>
                        <h4 class="li-book">{$data.book_name}/{$data.book_a}</h4>
                        <p class="text-muted text-nowrap">{$data.date_begin} 至 {$data.date_end}</p>
                        <p class="text-info">{$data.book_place}</p>

                    </div>
                </li>
                {/volist}

            </ul>
            {/if}

        </div>
    </div>
</section>
<footer id="footer">
    <ul class="pager">
        {if condition='$page eq 1'}
        <li class="previous  hidden" rel="0"><a href="javascript:void(0)">上一页</a></li>
        {else/}
        <li class="previous" rel="0"><a href="{:url('home/BroHistory/broHistory',array('page'=> $page-1))}">上一页</a></li>
        {/if}
        <li class="active" rel="1"><a href="javascript:void(0)">第{$page}页</a></li>
        {if condition='$number lt 20 '}
        <li class="next hidden" rel="2"><a href="{:url('home/BroHistory/broHistory',array('page'=> $page+1))}">下一页</a>
        </li>
        {else/}
        <li class="next " rel="2"><a href="{:url('home/BroHistory/broHistory',array('page'=> $page+1))}">下一页</a></li>
        {/if}
    </ul>
</footer>
{/block}